In [1]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import numpy as np

In [2]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) AppleWeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [3]:
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page%252', headers = headers).text

In [4]:
soup = BeautifulSoup(webpage, 'lxml')

In [5]:
#print(soup.prettify())

In [6]:
#soup.find_all('div')[0].text.strip()

In [7]:
company=soup.find_all('div',class_='companyCardWrapper')
len(company)

20

In [8]:

name=[]
rating=[]
reviews=[]
salery=[]
interview=[]
job_ava=[]
location=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('div',class_='rating_text').text.strip())
  location.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[0].text.strip())
  reviews.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[0].text.strip())
  salery.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[1].text.strip())
  interview.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[2].text.strip())
  job_ava.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[3].text.strip())
  #no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

In [9]:
df=pd.DataFrame({'name':name,
   'rating':rating,
   'location':location,
   'reviews':reviews,
   'salery':salery,
   'interview':interview,
   'job_ava':job_ava,
   })

In [22]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import numpy as np
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) AppleWeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

final1=pd.DataFrame()
for j in range(1,200):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j),headers = headers).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='companyCardWrapper')
  name=[]
  rating=[]
  location=[]
  reviews=[]
  salery=[]
  interview=[]
  job_ava=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('div',class_='rating_text').text.strip())
    except:
       rating.append(np.nan)
    try:
       location.append(i.find('span' , class_='companyCardWrapper__interLinking').text.strip())
    except:
       location.append(np.nan)
    try:
      reviews.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[0].text.strip())
    except:
      reviews.append(np.nan)

    try:

      salery.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[1].text.strip())
    except:
      salery.append(np.nan)
    try:

      interview.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[2].text.strip())
    except:
      interview.append(np.nan)
    
    try:

      job_ava.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[3].text.strip())
    except:
      job_ava.append(np.nan)
     

    df=pd.DataFrame({'name':name,
       'rating':rating,
       'reviews':reviews,
       'location':location,
       'salery':salery,
       'interview':interview,
       'job_ava':job_ava,
       })
    #print(df)
  final1 = pd.concat([final1, df], ignore_index=True)

In [24]:
final

0       IT Services & Consulting | Bangalore / Bengalu...
1       IT Services & Consulting | Bangalore / Bengalu...
2       IT Services & Consulting | Bangalore / Bengalu...
3       IT Services & Consulting | Hyderabad / Secunde...
4       IT Services & Consulting | Bangalore / Bengalu...
                              ...
1975       Clinical Research | Mumbai +33 other locations
1976                Aviation | Mumbai +15 other locations
1977                        BPO | Pune +8 other locations
1978     Financial Services | Chennai +10 other locations
1979    Retail | Bangalore / Bengaluru +62 other locat...
Name: location, Length: 1980, dtype: object

In [25]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import numpy as np
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) AppleWeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

final1=pd.DataFrame()
for j in range(1,200):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j),headers = headers).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='companyCardWrapper')
  name=[]
  rating=[]
  location=[]
  reviews=[]
  salery=[]
  interview=[]
  job_ava=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('div',class_='rating_text').text.strip())
    except:
       rating.append(np.nan)
    try:
       location.append(i.find('span' , class_='companyCardWrapper__interLinking').text.strip())
    except:
       location.append(np.nan)
    try:
      reviews.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[0].text.strip())
    except:
      reviews.append(np.nan)

    try:

      salery.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[1].text.strip())
    except:
      salery.append(np.nan)
    try:

      interview.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[2].text.strip())
    except:
      interview.append(np.nan)
    
    try:

      job_ava.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[3].text.strip())
    except:
      job_ava.append(np.nan)
     

    df=pd.DataFrame({'name':name,
       'rating':rating,
       'reviews':reviews,
       'location':location,
       'salery':salery,
       'interview':interview,
       'job_ava':job_ava,
       })
    #print(df)
  final1 = pd.concat([final1, df], ignore_index=True)

In [26]:
final1

,name,rating,reviews,location,salery,interview,job_ava
0,TCS,3.5,1L,IT Services & Consulting | Bangalore / Bengalu...,9.4L,11.5k,812
1,Accenture,3.7,66.6k,IT Services & Consulting | Bangalore / Bengalu...,6.3L,8.9k,30.6k
2,Wipro,3.7,59.8k,IT Services & Consulting | Bangalore / Bengalu...,4.6L,6.3k,6.9k
3,Cognizant,3.7,56.8k,IT Services & Consulting | Hyderabad / Secunde...,5.8L,6.1k,374
4,Capgemini,3.7,48.6k,IT Services & Consulting | Bangalore / Bengalu...,4.6L,5.2k,2k
...,...,...,...,...,...,...,...
3975,Gufic Biosciences,3.3,295,Pharma | Mumbai +34 other locations,1.2k,12,49
3976,Adani Infra,3.8,295,Engineering & Construction | Ahmedabad +41 oth...,1.2k,31,--
3977,Varindera Constructions,4.2,295,Engineering & Construction | New Delhi +19 oth...,881,13,4
3978,Honda India Power Products,4.1,295,Industrial Machinery | Greater Noida +27 other...,1k,25,--
3979,Rainbow Childrens Hospital,3.9,295,Healthcare | Hyderabad / Secunderabad +13 othe...,975,22,1

In [ ]:
final1.to_csv('Ravioutput_file.csv', index=False, encoding='utf-8')